In [1]:
num1=10
num2=30
add=num1+num2

In [2]:
num1=10
num2=30
add=num1+num2
print("add")

add

In [3]:
num1=10
num2=30
add=num1+num2
print(add)

40

In [7]:
num1=1000
num2=2348
mul=num1*num2
print(mul)

2348000

In [9]:
first_name= "sasi kumar m"

In [10]:
firstName= ("sasikumar")

In [11]:
print("The addition of two numbers")

The addition of two numbers

In [12]:
print("The addition of two numbers")
num1=10

The addition of two numbers

In [13]:
print("The addition of two numbers")
num1=10
print("The number 1",num1)

The addition of two numbers
The number 1 10

In [2]:
print("The addition of two numbers")
num1=10
print("The number 1:",num1)
num2=40
print("The numer 2:",num2)
print("The Answer:",num1+num2)

The addition of two numbers
The number 1: 10
The numer 2: 40
The Answer: 50

In [15]:
print("The addition of two numbers")
num1=10
print("The Number 1:",num1)
num2=40
print("The Numer 2:",num2)
print("The Answer:",num1+num2)
add=num1+num2
print("Thw Answer:",add)

The addition of two numbers
The Number 1: 10
The Numer 2: 40
The Answer: 50
Thw Answer: 50

In [4]:
num1=input("Enter the num1:",)

Enter the num1: 20

In [5]:
num1=input("Enter hte num1:",)
num2=input("Enter hte num2:",)

Enter hte num1: 30
Enter hte num2: 20

In [18]:
num1=int(input("Enter hte num1:",))
num2=int(input("Enter hte num2:",))

Enter hte num1: 20
Enter hte num2: 30

In [20]:
add=num1+num2
print(add)

2030

In [21]:
num1=int(input("Enter the num1:",))
num2=int(input("Enter the num2:",))

Enter the num1: 10
Enter the num2: 30

In [24]:
add=num1+num2
mul=num1*num2
print(mul)
print(add)

300
40