In [ ]:
# print 0 to 20 by using range

In [1]:
range(0,20)
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
# print range 10 to 20

In [2]:
range(10,20)
for num in range(10,20):
    print(num,end=',')

10,11,12,13,14,15,16,17,18,19,

In [ ]:
 # Print number of items in the list by using 'len'

In [3]:
a=[10,20,14,55,43,87,76]
print(a)
total=len(a)
print("Number of item in the List2:",total)

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2: 7

In [ ]:
#

In [4]:
name= ("Artificial Intelligence")
print(name)
for letter in name:
    print(letter)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [ ]:
#

In [5]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [ ]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/
# Print yhis mixered datatype using Tuples

In [6]:
tuple1=(1,'Welcome')
tuple2=(2,'Hope')
tuple3=tuple1+tuple2
print(tuple3)

(1, 'Welcome', 2, 'Hope')

In [ ]:
 # Refer this link : https://www.geeksforgeeks.org/python-tuples/
Tuple1 = (0, 1, 2, 3)

In [7]:
tuple1=(0,1,2,3)
tuple2=('Python','Hope')
tuple3=(tuple1,tuple2)
print(tuple3)

((0, 1, 2, 3), ('Python', 'Hope'))

In [ ]:
# print Odd Numbers in the list

In [8]:
num=(20,10,16,19,25,1,276,188)
print(num)
for i in num:
   if i % 2== 1:
       print(i,"is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [ ]:
 # print Even numbers in the list

In [9]:
num=(20,10,16,19,25,1,276,188)
print(num)
for i in num:
   if i % 2== 0:
       print(i,"is Even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is Even
10 is Even
16 is Even
276 is Even
188 is Even